body {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance:none 
}

#app, #main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#app {
	background-color: #000;
}

#main {
	background: url(../img/bg.png);
	/*background-color: #0f0;*/
}

#logo {
	background: url(../img/logo.png) no-repeat;
}

.animation{
    -webkit-transform: translateX(-200px);
}
.done{
    -webkit-transition-property:all;
    -webkit-transition-duration:300ms;
    -webkit-transition-delay:0;
    -webkit-transition-timing-function:ease;
}

#logo {
	/* */
	width: 50%;
	height: 50%;
	
	text-align: center;
	margin: 0 auto;
	margin-top: 20%;
}

.animation1{
-webkit-animation:swing 1s .2s ease both;
-moz-animation:swing 1s .2s ease both;}
@-webkit-keyframes swing{
20%,40%,60%,80%,100%{-webkit-transform-origin:top center}
20%{-webkit-transform:rotate(15deg)}
40%{-webkit-transform:rotate(-10deg)}
60%{-webkit-transform:rotate(5deg)}
80%{-webkit-transform:rotate(-5deg)}
100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes swing{
20%,40%,60%,80%,100%{-moz-transform-origin:top center}
20%{-moz-transform:rotate(15deg)}
40%{-moz-transform:rotate(-10deg)}
60%{-moz-transform:rotate(5deg)}
80%{-moz-transform:rotate(-5deg)}
100%{-moz-transform:rotate(0deg)}
}